/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.post-type-funlhtmllandingpages #edit-slug-box {display:none;} .post-type-funlhtmllandingpages #preview-action {display:none;}
.post-type-funlhtmllandingpages .type-funlhtmllandingpages .view{display:none;}